<header class="header">
  <div class="logo-wrap">
    <img src="/public/trt9-logo.jpg" alt="Justiça do Trabalho TRT da 9ª Região" class="logo"/>
    <div class="header-title-wrap">
      <h1>JUSTIÇA DO TRABALHO</h1>
      <p>TRT da 9ª Região (PR)</p>
    </div>
  </div>
</header>
